<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_de_datosASELEC.Properties.Settings.Db_Asociacion2020BConnectionString"
            connectionString="Data Source=LAPTOP-S5VERLH1;Initial Catalog=Db_Asociacion2020B;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>